<%- include('./includes/head.ejs') %>
<%- include('./includes/navigation.ejs') %>

<main>
  <div class="container">
    <h1>خطا</h1>
    <p><%= errorMessage %></p>
  </div>
</main>

<%- include('./includes/end.ejs') %>
