.shop {
    background-color: #d4d2d2; 
  }
  
.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column; 
}

.form-group label {
    flex-shrink: 0; /* Prevent the label from shrinking */
    margin-bottom: 5px; /* Add some space below the label */
}

/* Optional: Add some spacing to the input fields */
.form-group input {
    margin-top: 5px; 
}